
<div class="container">
    <p>三七互娱成立于2011年，是全球TOP25游戏企业，中国互联网20强企业。

        于2015年完成整体上市（股票代码：002555），凭借优异业绩被纳入中证沪深300指数、明晟MSCI指数、高盛“新漂亮50”名单，是国内A股优秀的社会公众公司。三七互娱的发行与研发总部设在广州，并在北京、上海、安徽、江苏、湖北、香港、台湾、东南亚、日韩及欧美等多个地区设有子公司或办事处等分支机构。

        旗下拥有37手游、37游戏、37GAMES等全球知名的专业游戏运营平台，以及极光网络、墨鹍科技等国内顶尖的游戏研发团队；聚集了来自全国各地的网络精英及高素质管理人才，形成了投入、精细、分享、创新的企业价值观。

        作为全球领先的游戏运营商、研发商，三七互娱以“传承中华文化精髓”为理念，积极推动国产游戏的全球化发展，同时积极布局影视、音乐、动漫、VR及文化健康产业等领域。

        为践行企业社会责任，三七互娱还成立了广东省游心公益基金会，累计捐赠超1000万元，用于边远地区高中教育等公益事业。</p>
</div>