{{#each errors}}
    <div class="alert alert-danger">{{text}}</div>
{{else}}

{{/each}}

<div class="card card-body">
    <h3>提交建议</h3>
    <form action="/advice" method="post">
        <div class="form-group">
            <label for="title">标题</label>

            <!--required 前端控制-->
            <input type="text" class="form-control" name="title" value="{{title}}" >
        </div>
        <div class="form-group">
            <label for="details">内容</label>
            <textarea class="form-control" name="details" rows="15">{{details}}</textarea>
        </div>
        <button type="submit" class="btn btn-primary btn-lg">提交</button>

    </form>

</div>