
{{#each ideas}}
    <div class="card card-body mb-2">
        <h4>标题:{{title}}</h4>
        <p>详情:{{details}}</p>
        <a href="/advice/edit/{{id}}" class="btn btn-sm btn-dark ">编辑</a>
    </div>

{{/each}}
