<div class="jumbotron text-center">
    <!--<h5 class="display-4">{{title}}</h5>-->
    <h5 class="display-4">{{title1}}</h5>
    <!--<h5 class="display-4">{{title2}}</h5>-->
    <p class="lead">更多精彩小说,等你来创作</p>
    <a href="/ideas/add" class="btn btn-dark brn-lg">添加新的作品</a>
</div>