<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../assets/index.css">
    <style>

    </style>
</head>
<body>
<% include ../public/nav.ejs%>
<h1>welcome to 蓝鸥 课堂1122222</h1>
</body>
</html>